# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Mypy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Other
.idea/
